@font-face{
    font-family: "Chalkduster";
    src: url("../fonts/Chalkduster.ttf");
}
.mainFxmlClass {
    -fx-font-family: 'Chalkduster';
}
#AnchorPane{
    -fx-background-color: "black";
    -fx-text-fill: "white";
}
#btn{
   -fx-background-color: "blue";
   -fx-text-fill: "white";
}
#messageList{
    -fx-border-color: "black";
}