@font-face{
    font-family: "Chalkduster";
    src: url("../fonts/Chalkduster.ttf");
}
.mainFxmlClass {
    -fx-font-family: 'Chalkduster';
}
.text{
    -fx-font-family: 'Chalkduster';
}
.label{
    -fx-text-fill: white;
}
#AnchorPane{
    -fx-background-color: "black";
}
#btn{
   -fx-background-color: "orange";
   -fx-text-fill: white;
}
#registrar{
    -fx-underline: true;
}